---
import '../styles/global.css';
import Layout from '../layouts/main.astro';
---

<Layout title="Aaronson Oracle">
	<p>Press the 'f' and 'd' keys randomly. As randomly as you can. I'll try to predict which key you'll press next.</p>
  <p id="avg" class="text-xl">Keep pressing!</p>
  <p>A rolling mean of my accuracy in predicting what key you'll press. (I'll start predicting once I get a few keypresses from you).</p>

  <p>
	  My last guesses (most recent at top):
	  <div id ="lastGuesses">
  </div>

	<p>
		What's going on here? This is an <a href="https://github.com/elsehow/aaronson-oracle">Aaronson Oracle</a>.
	</p>
</Layout>

<script>
	import Kefir from 'kefir'
	import predict from '../lib/index.ts'
	import runningMean from '../lib/running-mean.ts'

  var sufficientCorpusForAccuracy = 20
  var avgEl = document.getElementById('avg')
  var lastGuessesEl = document.getElementById('lastGuesses')
  var pressS = Kefir.stream(emitter => {
    document.body.addEventListener("keypress", emitter.emit)
  }).map(it => it.keyCode)
    .map(String.fromCharCode)
    .filter(l => (l === 'f' || l === 'd'))

  var predictionS = predict(pressS)
  var countS = predictionS.scan(acc => acc+=1, 0)
  var sufficientCorpusS = countS.filter(z => z>sufficientCorpusForAccuracy)
  var goodPredictionS = predictionS.sampledBy(sufficientCorpusS)
  var accuracyS = runningMean(goodPredictionS)

  accuracyS.onValue(z =>  {
    avgEl.innerHTML = Math.floor(z * 100) + '%'
    return
  })

  predictionS.slidingWindow(20).onValue(ps => {
    var guesses = ps.map(p => {
      var correct = p[0]===p[1]
      var color = correct ? "white" : "red"
      return `<span style="background-color:${color}">predicted: ${p[0]}, observed: ${p[1]}</span><br>`
    }).reverse().join('')
    lastGuessesEl.innerHTML = guesses
  })
</script>
